Query 01: Criar a tabela de clientes.

In [ ]:
CREATE TABLE clientes (
    id BIGINT,
    idade BIGINT,
    sexo STRING,
    dependentes BIGINT,
    escolaridade STRING,
    tipo_cartao STRING,
    limite_credito DOUBLE,
    valor_transacoes_12m DOUBLE,
    qtd_transacoes_12m BIGINT
);

Query 02: Excluir a tabela.

In [ ]:
DROP TABLE clientes;

Query 03: inserir dados na tabela.

In [ ]:
INSERT INTO clientes VALUES (000001, 45, "M", 1,"Ensino Médio", "Blue", 12691.06, 1144.65, 42);
INSERT INTO clientes VALUES (000002, 65, "F", 1,"Ensino Superior", "Gold", 29691.06, 1544.65, 16);
INSERT INTO clientes VALUES (000003, 24, "M", 1,"Ensino Superior", "Platinum", 1000000.00, 40000.65, 13);

Query 04: remover os dados da mulheres da tabela.

In [ ]:
DELETE FROM clientes WHERE sexo = "F";

DML

Linguagem de manipulação de dados, do inglês Data Manipulation Language ou DML são instruções para manipular (selecionar, filtrar, agregar, limitar, etc). Os dados armazenados em tabelas

Query 01: selecionar o id, a idade e o limite de crédito dos clientes homens da tabela de clientes, ordenados por idade de maneira decrescente

In [ ]:
SELECT id, idade, limite_credito FROM clientes WHERE sexo = "M" ORDER BY idade DESC;

Query 02: selecionar a média da idade dos clientes por sexo da tabela clientes

In [ ]:
SELECT sexo, AVG(idade) AS 'Media_idade_por_sexo' FROM clientes GROUP BY sexo;